[Unit]
Description=Solar Server

[Service]
WorkingDirectory=<working-dir>
ExecStart=java SolarServer <port> <ip-address> <working-dir>

[Install]
WantedBy=multi-user.target
